html {
  font-size: 62.5%; 
  font-family: 'Dosis', sans-serif;
}

body {
  color: #333;
  
}

.header {
    background-color: #0d7619;
    display: flex;
}


.section-title {
    font-size: 35px;
    padding-top: 50px;
}

.menu {
    list-style: none;
    color: white;
    display: flex;
    position: absolute;
    right: 60px;
    padding-top: 20px;
    font-weight: bold; 

}

header a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 20px; 
     
}

.section1-banner {
    background-repeat: no-repeat;
    
}

.section1-banner-content {
    height: 400px;
    padding-top: 150px;
    width: auto;
    text-align: center;
    font-size: 20px;
    background-size: cover;
     background-image: url(../img/banniere.jpg);
  
}

.section1-banner-baseline {
    font-size: 25px;
    margin-bottom: 60px;
     
}

.section1-banner-title-brown {
    color: #615858;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -30px;
}

.section1-banner-title-green {
    color: #9acf64;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -30px;
}

.section-banner-write-link {
    background-color: #395e1b;
    color: white;
    width: 220px;
    border-radius: 50px;
    height: 40px;
    margin-left: 1130px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
    
}

.section2-conference {
    text-align: center;
    padding-top: 120px;
    height: 500px;
}

.section2-titre{
    font-size: 40px;
    color: #615858;
 
}

.section2-barre {
    margin-top: -30px;
    
}

.section2-conference-content {
    font-size: 25px;
    color: #615858;
    margin-top: 40px;
}

.section3-img {
    height: 417px;
    width: auto;
    background-size: cover;
    background-image: url(../img/banniere.jpg);
}

.section4-content {
    background-color:antiquewhite;
    height: 850px;
     width: auto;
    text-align: center;
}

.section4-img {
    height: 360px;
    width: 2320px;
    background-repeat: no-repeat;
    margin : 250px 1800px;

}

.section4-titre {
    font-size: 40px;
    color: #615858;
    text-align: center;
    padding-top: 100px;
    margin-top: 0px;

}

.section4-barre {
    margin-top: -30px;
    font-size: 15px;
    margin-bottom: 50px;

}

.section4-titre1 {
    color: forestgreen;
    font-size: 30px;
    float: left;
    padding-left: 600px;
}

.section4-titre2 {
    color: forestgreen;
    font-size: 30px;
    float: left;
    padding-left: 600px;
}

.section4-programme-1 {
    color: #615858;
    font-size: 20px;
    margin : 150px 550px;
    width: 350px;
    text-align: justify;

}

.section4-programme-2 {
    color: #615858;
    font-size: 20px;
    margin : -120px 530px;
    width: 350px;

}

.section4-programme-3 {
    color: #615858;
    font-size: 20px;
    margin : 150px 520px;
    width: 350px;

}

.section4-programme-4 {
    color: #615858;
    font-size: 20px;
    margin : -120px 515px;
    width: 450px;

}

.section4-programme-5 {
    color: #615858;
    font-size: 20px;
    margin : 150px 445px;
    width: 350px;

}

.section4-programme-6 {
    color: #615858;
    font-size: 20px;
    margin : -420px 1450px;
    width: 450px; 

}

.section4-programme-7 {
    color: #615858;
    font-size: 20px;
    margin : 475px 1440px;
    width: 350px; 

}

.section4-programme-8 {
    color: #615858;
    font-size: 20px;
    margin : -445px 1440px;
    width: 350px; 

}

.section4-programme-9 {
    color: #615858;
    font-size: 20px;
    margin : 475px 1340px;
    width: 350px; 

}

.section4-banner-write-link {
    background-color: #395e1b;
    color: white;
    width: 220px;
    border-radius: 50px;
    height: 40px;
    margin: -350px 1175px;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
    
}

.section5-titre {
    font-size: 40px;
    color: #615858;
    text-align: center;
    padding-top: 100px;
    margin-top: 0px;

}

.section5-barre {
    font-size: 15px;
    margin: -28px 1212px;

}

.section5-descriptif {
    font-size: 20px;
    margin: 80px 917px;
   
}

.section5-content1 {
    background-color: antiquewhite;
    height: 268px;
    width: 156px;
}

.section5-img1 {
    background-image: url(../img/portrait.jpg);
    background-repeat: no-repeat;
    border-radius: 100px 100px;
    height: 250px;
    width: auto;
    padding: 50px 50px;
    
}

.section5-bla1-bla1 {
    font-size: 20px;
    color: #395e1b;
    text-align: center;
    
}

.section5-bla1-bla2 {
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 130px -14px;
}
